<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FSF Capital</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <style type="text/css">
        body {
            min-height: 2000px;
            padding-top: 70px;
        }
    </style>


</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"#}
{#                    aria-expanded="false" aria-controls="navbar">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
            <a class="navbar-brand" href="/">FSF Capital</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {#            <ul class="nav navbar-nav">#}
            {#                <li class="active"><a href="#">Home</a></li>#}
            {#                <li><a href="#about">About</a></li>#}
            {#                <li><a href="#contact">Contact</a></li>#}
            {#                <li class="dropdown">#}
            {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
            {#                       aria-expanded="false">Dropdown <span class="caret"></span></a>#}
            {#                    <ul class="dropdown-menu">#}
            {#                        <li><a href="#">Action</a></li>#}
            {#                        <li><a href="#">Another action</a></li>#}
            {#                        <li><a href="#">Something else here</a></li>#}
            {#                        <li role="separator" class="divider"></li>#}
            {#                        <li class="dropdown-header">Nav header</li>#}
            {#                        <li><a href="#">Separated link</a></li>#}
            {#                        <li><a href="#">One more separated link</a></li>#}
            {#                    </ul>#}
            {#                </li>#}
            {#            </ul>#}
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#services" class="navigation">Услуги</a></li>
                <li><a href="#products" class="navigation">Продукты</a></li>
                <li><a href="#faq" class="navigation">ТОП Вопросов</a></li>
                <li><a href="#about" class="navigation">О нас</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if DEFAULT_MESSAGE_LEVELS.SUCCESS == message.level %}success{% else %}info{% endif %}"
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

{#    <div ></div>#}
    <h1 id="services">Услуги</h1>

    <h2>Накопительные программы</h2>

    Программа накопления средств в рамках страхования жизни позволяет благоразумно позаботится своем здоровье и здоровье
    близких, скопить необходимую сумму на получение образования или обеспечить себе стабильный доход в будущем.
    Запланированные крупные покупки станут возможными в любой момент с накопительной страховой программой от нашей
    компании.
    Данная услуга также обеспечивает стабильный дополнительный доход в будущем. Процент по страховым выплатам ежегодно
    накапливается исходя из итоговых годовых данных по инвестиционной программе в компании.

    <h2>Страхование жизни</h2>
    Долгосрочная программа накопления на получение пенсии, страховых выплат, оплате дорогостоящего лечения. Выплаты по
    оформленному договору страховки наступают в момент достижения указанного в документе возраста клиента или
    выплачиваются
    его родным после ухода клиента из жизни.

    <h2>Автострахование</h2>
    Надежное страхование владельцев автомобилей от незапланированных трат вследствие попадания в аварийные ситуации,
    угона
    транспортного средства, при покупке нового авто или нанесения серьезного ущерба третьими лицами. Покрывает полный
    гарантированный ремонт и восстановление нормального состояния автотранспорта.

<h1 id="products">Самые покупаемые продукты компании</h1>

    <h2>Пакет «СОЛО»</h2>

    С - стабильность<br>
    О - обеспечение<br>
    Л – личный счет<br>
    О - отдых<br><br>

    Страховая программа «СОЛО» - это персональный пакет страхового обеспечение для отдельного человека. Оформляя
    страховку
    по данной программе, клиент обеспечивает себе надежный финансовый фундамент, полную безопасность от непредвиденных
    ситуаций, комфортный стиль жизни и возможность свободно распоряжаться своими активами для отдыха и накоплений на
    безбедную старость.<br><br>

    Основная программа страхования рисков включает «доживание ли смерть клиента в следствие наступления любой
    причины».<br><br>

    К дополнительным страховым рисками по программе «СОЛО» относятся:<br><br>

    <ul>
        <li>смерть в результате случайного случая;</li>
        <li>наступление инвалидности вне зависимости от причины;</li>
        <li>освобождение от уплаты обязательных страховых взносов.</li>
    </ul>


    <h2>Пакет «FSG Gold»</h2>

    ЗОЛОТОЙ пакет страхования – это стабильная мировая валюта, оперативная защита от инфляции и гарантированно высокий
    спрос
    и тенденция прибыльности, а также надежные финансовые сбережения в самых нестабильных экономических
    условиях.<br><br>

    Преимущества программы «FSG Gold»:<br>
    <ul>
        <li>индивидуальный подбор лучших условий договора с учетом доходов и возраста клиента;</li>
        <li>стабильность золота, как дорогой мировой валюты;</li>
        <li>прочная и надежная защита от финансовых спадов и кризиса;</li>
        <li>постоянный высокий спрос на золото;</li>
        <li>оптимальный и стабильный доход.</li>
    </ul>

    <h2>Пакет «Леди Лайф +»</h2>

    Первая в Украине и одна из немногих в мире программ страхования, созданная специально для женщин. Оформляя страховой
    полис «Леди Лайф +», женщина страхует себя от финансовых рисков с наступление критических заболеваний, замирания
    плода,
    различных патологий. Надежная стразовая программа дарит каждой женщине уверенность в будущем ее самой, а также ее
    будущих детей. Накопительная система также предусматривает стабильный приток капитала с последующим приростом
    прибыли.

    <h2>Пакет «Семейные мечты»</h2>

    Семья – основной институт, на котором держится стабильная экономика государства. «Семейные мечты» - это программа
    страхования для всей семьи, что помогает накопить достаточную сумму средств для обеспечения больших покупок (дома,
    автомобиля), а также оплаты дорогостоящего лечения и обучения.<br><br>

    Воплощая «Семейные мечты», наша страховая компания по данной программе обеспечивает Вам:<br><br>
    <ul>
        <li>надежное хранение и накопление средств;</li>
        <li>стабильный рост семейного капитала;</li>
        <li>создание прочного финансового фундамента;</li>
        <li>получение достойного уровня жизни;</li>
        <li>оплата обучения детей и получения пенсионных выплат;</li>
        <li>присутствие денег на постоянное оздоровление.</li>
    </ul>
    <h2>Пакет «КЛАССИК ИНВЕСТ»</h2>

    «КЛАССИК ИНВЕСТ» - это 100% инвестируемых средств в создание надежного будущего. Уникальная программа дает
    возможность в
    одном пакете сразу же инвестировать деньги и собирать полученный доход, обеспечивая оплату образования детям,
    достойный
    уровень жизни и создание собственного пенсионного фонда.<br><br>

    Программа «КЛАССИК ИНВЕСТ» включает следующий перечень стразовых рисков:<br><br>
    <ul>
        <li>смерть клиента или окончание действия страхового договора;</li>
        <li>получение физических и телесных повреждений;</li>
        <li>несчастные случаи.</li>
    </ul>
    При каждом страховом риске клиент или его семья получает не только сумму накоплений, но и дополнительный
    инвестиционный
    фонд, собранный во время оборота средств на счету клиента. Особый бонус программу – дополнительный пакет
    «Травматизм»,
    что позволяет обеспечить надежную защиту от травм при небольшой доплате всего в 84 грн.

    <h2>Пакет «Классика жизни»</h2>

    Классический страховой пакет по обеспечению пожизненной страховки и накоплений финансового состояния. В случае утери
    кормильца или наступления непредвиденных финансовых проблем, программа гарантирует материальную поддержку семьи с
    накопительным пенсионным фондом.<br><br>

    Выплаты по программе до прекращения договора осуществляются:<br><br>
    <ul>
        <li>при несчастном случае;</li>
        <li>при наступлении смерти наследника;</li>
        <li>при получении телесных повреждений;</li>
        <li>в случае наступления инвалидности;</li>
        <li>в случае освобождения от уплаты стразовых взносов.</li>
    </ul>
    К данной программе Вы также можете подключить пакет «Травматизм».

    <h2>Пакет «Гарантированное образование»</h2>

    Защитить и обеспечить будущее своих детей – первоначальная и главная цель каждых заботливых родителей. Уже при
    появлении
    ребенка на свет, родители обязаны думать о его благополучии. Получение образования всегда дорогое и требует
    необходимых
    накоплений. Самостоятельно, родителям не всегда удается справится с планами накопления на образование детям в силу
    самых
    различных причин. В таком случае, существует надежная программа «Гарантированное образование», которая обеспечивает:<br><br>
    <ul>
        <li>стабильное накопление средств на детском счету;</li>
        <li>гарантированную оплату образования ребенка;</li>
        <li>стабильное финансовое будущее Ваших детей;</li>
        <li>получение гарантированной защиты.</li>
    </ul>
    Индивидуальный план накоплений для каждой семьи позволяет расходовать часть денег на текущие нужды, при этом
    обеспечивая
    надежное будущее для своих детей.

<h1 id="faq">ТОП ВОПРОСОВ</h1>

    <blockquote>
        <p>Если компания вдруг станет банкротом, что случится с моими накоплениями?</p>

        <footer>Наша деятельность регулируются действующим законодательством Украины. Согласно законным нормативным
            актам, в случае
            банкротства или ликвидации компании, что предоставляет финансовые услуги населению, все средства и активы
            будут переданы
            на обслуживание другой страховой компании по согласию застрахованных лиц, либо возвращены в полной мере
            клиенту по
            первому запросу. Стабильность нашей функциональности не влияет и не связана с тем комплексом услуг, которые
            мы
            предоставляем населению. По-простому – мы также застрахованы и все накопленными нашими клиентами средства
            никогда не
            смогут быть утерянными. Другая компания-страховщик обязуется взять все наши обязательства перед клиентами в
            случае
            ликвидации или банкротства.
        </footer>
    </blockquote>
    <blockquote>
        <p>В чем состоит выгода страхования жизни?</p>

        <footer>Жизненная страховка является по-настоящему выгодным финансовым инструментом. Все средства, положенные
            клиентами компании
            на свои накопительные счета, участвуют в постоянном инвестиционном обороте и ежегодно приносят прибыль
            вкладчикам и
            компании.


            Распределение полученной от денежного оборота вложенных финансов в компании осуществляется согласно
            действующему
            законодательству Украины. Закон регулирует получение стабильной прибыли для предприятия (страховой компании)
            в размере
            не более 15%. Из этого следует, что остальные 85% полученных дивидендов ложатся на счета вкладчиков.

            Ежегодная отчетность перед нашими клиентами подтверждает выгоду вложения средств в страхование жизни. В
            конце отчетного
            периода компания рассылает письма с уведомлениями для вкладчиков, в которых содержится полная информация о
            состоянии их
            накопительного счета. В письме указывается итоговая успешная деятельность по инвестиционному обороту и сумма
            накопленных
            процентов, положенных на счет вкладчика.

            Такие инструменты, как постоянный контроль инвестиционной деятельности, отчетность перед вкладчиками и
            клиентская
            поддержка выступают лучшим показателем надежности вложения средств в страхование жизни клиентов.

            Важно знать, что процент от полученной инвестиционной деятельности с деньгами вкладчиков практически всегда
            превышает
            дивиденды от иных инвестиций или банковских депозитов. Ежегодно сумма процента может отличаться, однако в
            целом – это
            высокая прибыль. Указанная в годовой отчетности сумма капитала на счету вкладчика фиксируется и уже не может
            снизиться.
        </footer>
    </blockquote>
    <blockquote>
        <p>Является ли надежным вложение личных средств в страховые компании?</p>

        <footer>Четыре основных критерия надежности вложения средств в страховую компанию, которые ценят наши клиенты:

            «Закон о страховании», действующий на территории всей Украины, четко регламентирует функциональность
            компаний и
            обеспечивает постоянный контроль множеством структурных и подведомственных отделений;
            по Закону, начальный капитал стразовой компании, что не полежит снижению или изменению, составляет 1,5 млн
            гривен –
            залог стабильной работы компании для вкладчиков;
            предприятие не имеет права на свое усмотрение использовать деньги вкладчиков – все средства на счетах фирмы
            принадлежат
            их владельцам, то есть нашим клиентам;
            на сегодняшний день, сфера инвестиций в различные отрасли экономической деятельности в Украине представлена
            самым
            широким спектром направлений, которые регулярно приносят доход страховым компаниям и обеспечивают выплату
            высоких
            процентов по вкладам для клиентов страховой компании.

            Иными словами, постоянный контроль, а также умелое, профессиональное управление активами позволяет нам
            предоставлять
            максимальный уровень безопасности вложения финансов в наше учреждение. Главное преимущество надежности –
            неприкосновенность Вашего капитала, которые не в коем случае не используется для погашения задолженностей
            перед третьими
            лицами или прочих финансовых операций.
        </footer>
    </blockquote>
    <blockquote>
        <p>В случае окончания страхового договора, что я могу сделать с накопленными средствами?</p>

        <footer>В деятельности страхового предприятия конечный капитал вкладчика носит название аннуитета. Форма выплаты
            накопленных
            вкладов зависит от срока договора и может осуществляться:<br>

            <strong>одноразово</strong> – перевод всех накопленных средств клиента на расчетный счет в банке;<br>
            <strong>постепенно до конца жизни</strong> – пожизненная пенсия в установленном в договоре размере;<br>
            <strong>постепенно за оговоренный период</strong> - пенсия, что выплачивается в оговоренный ранее срок с
            клиентом и зафиксированный в
            страховом договоре.<br>
            Широкий спектр пенсионных программ по выплатам аннуитета клиентам разделяется также на три категории.
            Существует
            пожизненная пенсия по окончанию срока договора, пенсионный капитал, а также выплата пенсии за фиксированный
            установленный срок. Таким образом, капитал на счету владельца после окончания страхового договора может за
            один раз
            поступить на его счет, выплачиваться ему до конца жизни или же выдаваться в установленный период времени.
        </footer>
    </blockquote>

    <blockquote>
        <p>Если я не могу заплатить обязательный ежегодный платеж по страховому полису, что происходит с моим
            накопительным счетом?</p>
        <footer>
            В случае несостоятельности клиента внести обязательный регулярный платеж в установленном размере за год,
            существует
            несколько оптимальных решений по выходу из данной ситуации. Например, клиент может обратится к своему
            финансовому
            консультанту и внести в страховой договор изменения. Данные изменения могут касаться обязательной суммы
            вклада, а также
            сроков договора. Вы можете снизить сумму на 25% или прекратить действие договора вовсе. В последнем случае,
            для Вас
            будет определена «выкупная сумма договора».<br>

            В самых трагичных и распространенных случаях потери финансовой стабильности, страховая компания обязуется
            наоборот
            помочь своему клиенту «стать на ноги». К распространенным случаям относится:

            <ul>
                <li>производственные травмы</li>
                <li>установка критичного диагноза (инфаркт, онкологические заболевания);</li>
                <li>получение инвалидности 1 группы.</li>
            </ul>
            Все эти случаи являются «страховыми», при которых компания не требует ежегодной выплаты, а наоборот
            выплачивает
            страховые средства согласно с договором клиенту. Инвалидность 1 группы определяет обязательную выплату
            средств по
            договору, без уплаты клиентом обязательной ежегодной суммы вклада. Выплаты будут осуществляться до конца
            действия
            договора.
        </footer>
    </blockquote>

    <blockquote>
        <p>Если я покидаю страну на какое-то время или уезжаю навсегда заграницу, что случится с моим страховым
            полисом?</p>

        <footer>Ваш страховой полис является надежной финансовой защитой в любой точке мира. Вне зависимости от Вашего
            места нахождения,
            страховые гарантии по договору соблюдаются и действуют на протяжении всего договорного периода.<br>

            Обязательным остается условие регулярного ежегодного взноса по страховому договору, что является Вашей
            безопасностью
            здоровья и жизнедеятельности 24 часа в сутки в любом уголке земного шара.
        </footer>
    </blockquote>

    <blockquote>
        <p>Давно хотел оформить страховой договор, но мне кажется, что время сейчас не подходящее.</p>
        <footer>
            Для оформления пожизненной страховки всегда подходящее время. Вне зависимости от нестабильной экономической
            ситуации и
            кризиса, страхование жизни наоборот предоставляет стабильную уверенность клиенту в завтрашнем дне. Тяжелые
            времена легче
            пережить осознавая, что за плечами у Вас есть финансовая безопасность и стабильность.
        </footer>
    </blockquote>

    <blockquote>
        <p>Мои домашние накопления полностью исчерпались за время кризиса, а нужно постоянно лечиться и совершать
            ежедневные траты.
            Где взять деньги?</p>

        <footer>Страховой полис – это не предмет роскоши, но обязательная потребность каждого сознательного гражданина,
            которые
            заботится о качестве своей жизни. Выплаты по страховому полису в будущем лишат Вас тех проблем, с которыми
            сталкиваются
            тысячи и миллионы неграмотных финансовых людей.
        </footer>
    </blockquote>

    <blockquote>
        <p>Каким образом «работают» мои деньги, положенные на счета Вашей компании?

            Деньги вкладчиков постоянно приносят прибыль самим вкладчикам, компании и государству. Каким образом это
            работает?</p>

        <footer>Полученные страховые средства с самого начала резервируются и сохраняются в установленной сумме на счету
            вкладчиками.
            Затем, компания выделяет сумму на инвестиции – не просто вложение средств в новые разработки, но надежное
            финансирование
            в крупные финансовые институты экономики – покупку акций, облигаций, недвижимости, развития банковских
            структур.

            Постоянный оборот средств помогает ежегодно получить стабильную прибыль. Государство при этом наполняется
            инвестиционными средствами вкладчиком и также повышает уровень развития экономики. Основной причиной низкого
            уровня
            экономики Украины – тотальная финансовая безграмотность граждан.

            Подобная ситуация наблюдалась совсем недавно странах Восточной и Западной Европы (Словении, Польше, Чехии).
            В США такая
            ситуация уже давно в прошлом – еще в 70-е годы прошлого века население Америки пришло к пониманию
            необходимости
            использования страхования жизни, как залог веры в экономику своей страны. В современном мире, американцы
            никуда не могут
            прийти или устроится на работу без стразового полиса. Его наличие означает, что гражданин является
            осознанным жителем
            своей страны, который помогает ей поддерживать экономику на плаву.

            Если бы все граждане Украины осознали этот факт, финансовые «вены» нашей страны заполнились бы деньгами
            вкладчиком и
            смогли бы инвестироваться в огромном обороте. Однако, к сожалению, сумма наличных средств в «домашних
            копилках» граждан
            превышает внешний долг Украины в несколько раз.
        </footer>
    </blockquote>
    <blockquote>
        <p>В чем состоит различие страхования жизни и других программ накопления?</p>

        <footer>Основное различие в программах страхования жизни и прочих обычных накопительных системах в том, что
            сумма накопленных
            конечных повышается в первом случае быстрее за счет постоянного инвестиционного оборота. Также, страховой
            плис
            предусматривает выплату средств клиентам в случае не только окончания договора, но и наступления страховых
            случаев. Со
            страхованием жизни Вы получаете стабильный финансовый фундамент и обеспечиваете себе и своей семье безбедное
            будущее.
        </footer>
    </blockquote>
    <blockquote><p>Почему мне выгоднее оформить страховой договор через консультанта, чем непосредственно в компании?

        При наличии твердого решения о заключении договора со страховой компанией и оформления страхового полиса, у
        потенциального клиента возникает масса вопросов. С какой компанией сотрудничать выгоднее? Как приумножить свой
        накопленный капитал? В каких случаях клиент получит деньги от страховой компании? Какие механизмы защиты
        существуют в
        сфере страхования, какими Законами они регулируются?</p>

        <footer>Европейский уровень клиентского обслуживания всегда предполагает личную беседу. Уделить максимум времени
            клиенту может
            только опытный, профессиональный страховой консультант, подкованный во всех вопросах своей страховой
            компании.
            Консультант – это надежный посредник между компанией и Вами, к которому Вы можете обратиться всегда за
            помощью,
            индивидуальным подбором программ и решением финансовых вопросов. Постоянное сотрудничество с одним
            финансовым
            консультантом позволяет Вам иметь своего надежного гида и помощника на рынке страхования Украины.
        </footer>
    </blockquote>


    <h1 id="about">О нас</h1>

    Наша компания за 8 лет плодотворной работы доказала свой профессионализм и надежность на рынке предоставляемых
    услуг. В
    2010 году компания заняла заслуженное 2-е место в рейтинге 40 лучших финансовых учреждений с услугами страхования. В
    2011 году нам удалось подтвердить свои заслуги и вновь занять второе место в престижно рейтинге страховых
    организаций.
    Уже на следующий 2012 года компания стала призером конкурса «Лучшее предприятие года», а также заняла почетное место
    в
    рейтинге лучших финансовых учреждений международного уровня «Лига лучших».


    <h1>Преимущества, которыми мы гордимся:</h1>
    <ul>
        <li>8 филиалов по Украине;</li>
        <li>более 8 лет опыта работы на рынке;</li>
        <li>штат из 300 профессиональных сотрудников;</li>
        <li>клиентская база свыше 300 000 человек;</li>
        <li>постоянная клиентская поддержка;</li>
        <li>45% обращений по прямым рекомендациям;</li>
        <li>стабильные места в рейтинге лучших компаний на рынке Украины.</li>

        <li>свежие заслуги компании – постоянное и ежегодное место в Национальном бизнес-рейтинге Украины ТОП 50 лучших
            финансовых
            учреждений. Предприятие также занимает 2-е место среди самых надежных посредников по предоставлению
            финансовых услуг
            среди всех компаний страны.
        </li>
    </ul>

    <h1>Наша цель</h1>

    Мы стремимся к тому, что обеспечить всех жителей Украины полноценными, качественными финансовыми услугами в
    максимальном
    представленном комплексе. Главная цель компании – помочь людям осуществить запланированные покупки и траты,
    позаботится
    о стабильном финансовом будущем украинских семей. Ваши финансовые мечты и цели – наша приоритетная задача.






    <!-- Main component for a primary marketing message or call to action -->
    {#    <div class="jumbotron">#}
    {#        <h1>Navbar example</h1>#}
    {#        <p>This example is a quick exercise to illustrate how the default responsive navbar works. It's placed within a#}
    {#            <code>.container</code> to limit its width and will scroll with the rest of the page's content.</p>#}
    {#        <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle#}
    {#            the collapsed content.</p>#}
    {#        <p>#}
    {#            <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>#}
    {#        </p>#}
    {#    </div>#}

    <hr>
    <form method="post">{% csrf_token %}
        {{ form }}<br>
        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            Отправить
        </button>
    </form>
<br><br>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">FSF (c) All rights reserved {% now "Y" %}</p>
      </div>
    </footer>

</div> <!-- /container -->


<!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $('.navigation').on('click', function () {
        $(this).closest('ul').find('li').removeClass('active');
        $(this).closest('li').addClass('active');
    });
</script>
</body>
</html>